.inputForm {
margin-top: 20%;
}
.colorInput {
  width: 12em;
  height: 3em;
  margin-bottom: 5px;
  border: none;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  user-select:none;
  font-size: 1em;
}
.rgb {
  margin: 0 auto;
  width: 10.2em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  font-weight: 500;
  background: rgba(0, 0, 0, .5);
  user-select: none;
  font-size: 1.2em;
}